
<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p> <%= startingContent %> </p>


  <%  posts.forEach(function(post){ %>      <%# This posts is from App.js %>

    <h1><%=post.title%></h1>
    <p>
    <%=post.posts.substring(0, 100) + " ..."%>   <%# This posts is from DB %>
    <a href="/posts/<%=post.title%>">Read More</a>
    </p>


    <% }) %>


<%- include("partials/footer"); -%>
